/* Background animation */
.animate-background {
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: #020617; /* black */
  animation: bgPulse 12s ease-in-out infinite;
}

/* Toggle between black and dark blue */
@keyframes bgPulse {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #000223; /* dark blue */
  }
  100% {
    background-color: #000000;
  }
}